body {
  font-family: "Montserrat-black";
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 2% 10% 7%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Black";
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
  text-align: left;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation bar */
.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}

/* downloaded button */
.dbtn {
  margin: 5% 3% 5% 0;
}

/* title image */
.img1 {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  left: 55%;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 4%;
}

.fh {
  font-weight: bold;
}

.ft {
  font-family: "Courier New", Courier, monospace;
}

.ic {
  color: #ef8172;
}

.ic:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  background-color: #ff4c68;
  color: white;
  font-weight: bold;
}

.carousel-item {
  padding: 7% 15%;
}

.img2 {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-pic {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing features */
#pricing {
  padding: 100px;
}

.pc {
  padding: 2% 1%;
}

/* footer page */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
}

.soial-icon {
  margin: 20px 10px;
}

/* media queries */

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }
  .img1 {
    width: 50%;
    transform: rotate(0);
    position: static;
  }
}
